* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,#009688 20%, #D8DBD5 20% );
}

.container {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.left {
    width: 40%;
    height: 100%;
}

.right {
    width: 60%;
    height: 100%;
}

.nav {
    height: 80px;
    background-color: rgb(234, 234, 234);
    
}

.utents {
    height: 70px;
    background-color: rgb(142, 218, 252);
}

.contacts {
    background-color: white;
    height: calc(100% - 200px);
    overflow-y: auto;
}

.contact {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.contacts .avatar{
    width: 50px;
}



.main {
    height: calc(100% - 160px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    padding: 20px;
}

.active {
    background-color: lightgray;
}

.msg {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.sent {
    background-color: #D5F9BA;
    margin-left: auto;
}

.received{
    background-color: white;
    margin-right: auto;
}

a {
    font-size: 20px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.fd-grow {
    flex-grow: 4;
}

.fd-bottom-navbar > a {
    color: rgb(104, 102, 102);
    font-size: 30px;
    padding: 20px;
}

.fd-div-height {
    height: 50px;
    background-color: white;
}

.fd-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.div-azure-square {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.div-azure-square > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(142, 218, 252);
}

.fd-small-text {
    font-size: 15px;
    font-weight: lighter;
    color: gray;
}

.fd-small-text-link {
    font-size: 15px;
    font-weight: lighter;
    color: rgb(77, 76, 76);
    text-decoration: underline;
}

.dropdown {
    position: relative;
    
}

.dropdown > .dropdown-menu {
    position: absolute;
    right: 30px;
}