* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,#009688 20%, #D8DBD5 20% );
}

.container {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid lightgray;
}

.left {
    width: 40%;
    height: 100%;
}

.right {
    width: 60%;
    height: 100%;
}

.nav {
    height: 80px;
    background-color: rgb(234, 234, 234);
    border: 1px solid lightgray;
}

.utents {
    height: 70px;
    background-color: rgb(142, 218, 252);
}

.contacts {
    background-color: white;
    height: calc(100% - 188px);
    overflow-y: auto;
}

.contact {
    padding: 10px;
    border-bottom: 1px solid black;
}

.contacts .avatar{
    width: 50px;

}

.main {
    height: calc(100% - 160px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    padding: 20px;
}

.active {
    background-color: grey;
}

.msg {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid grey;
}

.sent {
    background-color: #D5F9BA;
    margin-left: auto;
}

.received{
    background-color: white;
    margin-right: auto;
}